{{define "header"}}
   <div class="header">
        <div class="header-logo">
            <img src="https://cdn.zabdoc.xyz/szabist-logo.png" alt="SZABIST Logo">
        </div>
        <div class="header-content">
            <div class="header-line1">Shaheed Zulfiqar Ali Bhutto Institute of Science and Technology</div>
            <div class="header-line2-box"><span class="header-line2">Computer Science Department</span></div>
        </div>
    </div>
{{end}}